header > .nav-bar{
    display:flex;
    position:fixed;
    justify-content:space-between;
    flex-direction:row;
    height:5vh;
    background-color:orange;
    width:100%;
}

.search-box{
    display:flex;
    justify-content:space-around;
    align-content:center;
    flex-basis:1200px;
    max-width:1200px;
    min-width:400px;
}

.search1{
    height:3vh;
    align-items:center;
    align-self:center;
    width:600px;
}

.search2{
    height:3vh;
    align-items:center;
    align-self:center;
    width:100px;
    margin:0px;
}

body{
    background-color:whitesmoke;
}

.cart{
    object-fit:cover;
    height:5vh;
    width:auto;
    align-items: center;
    align-self:center;
    margin-top:2vh;
}

.left-part{
    position:relative;
    top:5vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    width:18%;
    height:100vh;
    background-color:lightyellow;
}

.product-display{
    position:absolute;
    left:20%;
    gap:1%;
    top:6vh;
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows:repeat(3,1fr);
    width:80%;
    height:80%;
}

.product{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

#logo{
    display:block;
    width:100px;
    height:5vh;
}

img{
    width:100%;
    height:60%;
    display:block;
}

.product > p{
    text-align:center;
}

footer{
    clear:both;
    display:flex;
    position:fixed;
    bottom:0;
    width:100%;
    height:5vh;
    background-color:orange;
    text-size:3vh;
    justify-content:center;
    align-items:center;
    gap:10%;
}